//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Sun 03 05 01:13:07 2023

IO_LOC "onboard_led[5]" L16;
IO_PORT "onboard_led[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[4]" L14;
IO_PORT "onboard_led[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[3]" N16;
IO_PORT "onboard_led[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[2]" N10;
IO_PORT "onboard_led[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[1]" A13;
IO_PORT "onboard_led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "onboard_led[0]" C13;
IO_PORT "onboard_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "motor_direction" N7;
IO_PORT "motor_direction" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "motor_enable" N9;
IO_PORT "motor_enable" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "motor_pul" D11;
IO_PORT "motor_pul" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "A4988_sleep" N8;
IO_PORT "A4988_sleep" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "A4988_reset" L9;
IO_PORT "A4988_reset" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "MS3" B11;
IO_PORT "MS3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "MS2" A11;
IO_PORT "MS2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_PORT "MS1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sw" C7;
IO_PORT "sw" PULL_MODE=UP;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
